body {
    background-color: #FFFFFF;
}

main {
    font-family: "Rubik",sans-serif;
}

.chat-bot {
    width: 20%;
    margin: 0 auto;
    padding: 10px;    
    display: flex;
    flex-direction: column;    
    row-gap: 10px;
    border: solid 1px #000000;
    border-radius: 8px;
    box-shadow: 4px 8px rgba(0, 0, 0, .25);    
}

.message-area {
    border: solid 1px #000000;    
    padding: 10px;
    height: 40vh;
    overflow-y: auto;   
    background-color: #EAEEF3;
}

.response {   
    padding: 15px 17px;
    line-height: 20px;
    margin-bottom: 10px;          
    border-radius: 20px 20px 20px 0;    
    background-color: #FFFFFF;
}


.message-area .message {  
    padding: 15px 17px;
    line-height: 20px;
    margin-bottom: 10px;      
    border-radius: 20px 20px 0 20px;    
    background-color: #0066FF;

}

.message {
    display: flex;    
    justify-content: space-between;
}

input {
    width: 100%;
    border: none;
}

input:focus {
    outline: none;
}

button {
    background-color: #FFFFFF;
    border: none;
    width: 15%;
    cursor: pointer;
}
