body {
    background-color: #F5EDED;
}

main {
    font-family: "Rubik",sans-serif;
}

.chat-bot {
    width: 20%;
    margin: 0 auto;
    padding: 10px;    
    display: flex;
    flex-direction: column;    
    row-gap: 10px;
    border: solid 1px #000000;
    border-radius: 8px;
}

.message-area {
    border: solid 1px #000000;
    height: 60vh;
}
.message-area header {
    text-align: center;
}

.message-area header p {
    color: #6482AD;
    margin: 0;
}

.message {
    display: flex;    
    justify-content: space-between;
}

input {
    width: 100%;
}

button {
    background-color: #F5EDED;
    border: none;
    width: 15%;
    cursor: pointer;
}
